.Navbar{
    margin: 0;
    border: border-box;
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
    height: 4em;
    opacity: 0.9;
    background-color:rgb(82, 203, 203);
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;    
}
    
.Navbar nav ul{
    list-style: none
}

.Navbar nav ul li{
display: inline-block;
margin: 10px;
}

.Navbar .Navigation{
    display: flex;   
    align-items: center;
    position: absolute;
    left: 5%;
    flex: auto;
    cursor: pointer;
    justify-content: space-between;
    
}
    .Navbar .MobileNav{
        display:none ;
    }


@media (max-width: 900px) {
    .Navbar .Navigation{
        display: none;
    }
    .Navbar .MobileNav{
        display: flex;
        background-color: rgb(82, 203, 203);
        align-items: center;
    }

    
.Navbar .MobileNav .OpenIcon{
    align-items: center;
    position: absolute;
    right: 5%;
    cursor: pointer;
}
.Navbar .MobileNav .Heading{
    align-items: center;
    position: absolute;
    left: 5%;
    cursor: pointer;
}

.Navbar nav ul{
    display: flex;
    flex-direction: column;
    position:absolute ;
    top: 4em;
    background-color:white;
border-top: 2px solid rgb(67, 20, 169);
right:0;
width: 100%;
padding-left: 15%;
}

.Navbar a:hover {
    color: blue
}}


